body {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#fff, #000);
    background-repeat: no-repeat;
 
}
header{
    width: 100%;
    height: 40vh;
    text-align: center;
}
header h1 {
    margin: 0;
    font-size: 5rem;
}
header span {
    font-size: 3rem;
}
.fas {
    text-align: center;
    width: 100%;  
    font-size: 3rem;
}

#game {
    margin-bottom: 5vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;  
}
#left {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 25rem;
    height: 13rem;
    border-radius: 10px;
    border: 1px solid #fff;
    margin-right: 2.5%;
}
#left h2 {
    width: 100%;
    text-align: center;
    position: relative;
}
#left h2::after {
    content: attr(data-score);
    position: absolute;
    top: 2.5rem;
    left: 50%;

}
#right {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 25rem;
    height: 13rem;
    border-radius: 10px;
    border: 1px solid #fff;
    margin-left: 2.5%;
}
#right h2 {
    width: 100%;
    text-align: center;
    position: relative;
}
#right h2::after {
    content: attr(data-score);
    position: absolute;
    top: 2.5rem;
    left: 50%;
}
.game-box {
    margin: 8px 8px 8px 8px;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 12px;
    border: 2px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.selected {
    box-shadow:  inset 0 0 10px #000000;
    border: 2px solid grey;
    background-color: white;
}
.selected.fas {
    color: white;
}
#game h3 {
    text-align: center;
    margin: 0;
}
#text-area {
    text-align: center;
    color: #fff;
    padding: 0rem 2rem 0rem 2rem;
    font-size: 2rem;
    height: 4rem;

}
#refresh {
    text-align: center;
    margin: 0 auto;
    color: #fff;
    border-radius: 10px;
    border: solid 2px white;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: 2rem;
    max-width: 50%;
    height: 3rem;
    
    
}
.hiden {
    display: none;
}